.wrapper-basket {
  padding-top: 40px;
}
.img-descr-prod {
  width: 200px;
}
.basket-number-items {
  width: 50px;
}
.basket-number-control {
  width: 100px;
}
.old-price {
  position: relative;
}
.old-price::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
}