html,
body {
  height: 100%;
}

body {
  background-color: $nav;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}


.buttons {
  gap: 0.4rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $border;
  border-radius: 20px;
  border: 2px solid $nav;
}

::-webkit-scrollbar-track {
  background: $nav;
}
